*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
.game-board{
  width: 100%;
  height: 750px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);

}

.pipe{
  position: absolute;
  bottom: 0;
  width: 280px;
  margin-bottom: -15px;
  animation: pipe-animation 4s infinite linear;

}

.mario{
  width: 150px;
  position: absolute;
  bottom: 0;

}

.jump{
  animation: jump 500ms ease-out;
}

.clouds{
  width: 550px;
  position: absolute;
  animation: clouds-animation 10s infinite linear;
}

.tartu{
  width: 550px;
  position: absolute;
  bottom: 0;
  right: 100px;
  animation: tartu-animation 10s infinite linear;
}

.block{
  width: 80px;
  position: absolute;
  bottom: 0;
  animation: block-animation 3s infinite linear;
}

.mato{
  width: 500px;
  position: absolute;
  bottom: -49px;
  right: 500px;
  animation: mato-animation 4s infinite linear;

}

/* telainicial.html */

html, body {
  overflow: hidden;
 }
.game-initial{
  width: 100%;
  height: 780px;
  background: url('/img/fundo2.webp');
  text-align: center;
  animation: clouds-animation 10s infinite linear;
  overflow: hidden;


}

.game-initial button{
  margin-top: 345px;
  padding: 20px 90px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.game-initial button:hover{
  background: linear-gradient(#aab125, #E0F6FF);
}

.piso{
  width: 50%;
  position: absolute;
  bottom: -27px;
  left: -60px;
}

.lava{
  width: 900px;
  height: 63px;
  position: absolute;
  bottom: -26px;
  right: -13px;

}

.yoshi{
  width: 200px;
  position: absolute;
  bottom: -20px;
  left: 300px;
}

.egg{
  width: 70px;
  position: absolute;
  bottom: 25px;
  left: 300;

}

.welcome{
  width: 120px;
  position: absolute;
  bottom: 383px;
  left: 550px;
  display: none;


}

@keyframes pipe-animation {
  from {
    right: -280px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump{
  0%{
    bottom: 0;
  }
  40%{
    bottom:180px;
  }
  50%{
    bottom: 180px;
  }
  60%{
    bottom: 180px;
  }
  100%{
    bottom: 0;
  }
}
@keyframes clouds-animation{
  from{
    right: -550px;
  }
  to{
    right: 100%;
  }
}

@keyframes tartu-animation {
  from {
    right: -280px;
  }
  to {
    right: 100%;
  }
}

@keyframes block-animation {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}

@keyframes gameover-animation {
  0%{
    bottom: 0;
  }
  40%{
    bottom:30px;
  }
  100%{
    bottom: -150px;
  }

}
@keyframes mato-animation {
  from {
    right: -500px;
  }
  to {
    right: 100%;
  }
}
